.user {
  display: flex;
  align-items: center;
  gap: 1rem;

  &-info {
    display: flex;
    flex-direction: column;

    &_title {
      color: var(--text);
      font-size: 18px;
      font-weight: 400;
      line-height: 28px;
    }

    &_date {
      color: var(--tag);
      font-size: 12px;
      font-weight: 400;
      line-height: 22px;
    }
  }

  &-img {
    width: 46px;
    height: 46px;
    border-radius: 50%;
  }
}
