.card-info {
  display: flex;
  flex-direction: column;

  &-wrap {
    display: flex;
    justify-content: space-between;
  }

  &-top {
    gap: 0.5rem;
    display: flex;
    align-items: center;
  }
}

.card-title_link > h2 {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  color: rgb(24, 144, 255);
}

.like {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  width: 34px;
  height: 22px;
}
