.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  background-color: rgb(255, 255, 255);
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 16px 22px 13px 22px;

  &-logo {
    width: 147px;
    height: 56px;
    &_text {
      color: var(--text);
      font-size: 18px;
      font-weight: 400;
      line-height: 28px;
      padding: 9px 0 15px 0;
    }
  }

  &-btn {
    display: flex;
    align-items: center;
    gap: 2rem;
    &_signin {
      color: var(--btn-signin);
      font-size: 18px;
      font-weight: 400;
      line-height: 28px;
      padding: 6px 19px 10px 19px;
      border: 1px solid var(--btn-signin);
      border-radius: 5px;
      &:hover {
        opacity: 0.5;
      }
    }

    &_signup {
      font-size: 18px;
      font-weight: 400;
      line-height: 28px;
      border: 1px solid var(--btn-signup);
      color: var(--btn-signup);
      padding: 6px 19px 10px 19px;
      border-radius: 5px;
      &:hover {
        opacity: 0.5;
      }
    }

    &_create {
      color: #52c41a;
      border: 1px solid #52c41a;
      border-radius: 5px;
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
      padding: 6px 10px;
      &:hover {
        opacity: 0.5;
      }
    }
  }

  &-user {
    display: flex;
    align-items: center;
    gap: 1rem;

    &-info {
      display: flex;
      gap: 10px;
      align-items: center;
      &_title {
        color: var(--text);
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
      }

      &_date {
        color: var(--tag);
        font-size: 12px;
        font-weight: 400;
        line-height: 22px;
      }
    }

    &-img {
      width: 46px;
      height: 46px;
      border-radius: 50%;
    }
  }
}
